1)	Вы провели эксперимент c упрощением формы заказа в магазине Утконос и получили результаты по метрике конверсий в покупку. Выберите метод оценки и оцените есть ли стат.значимые различия между конверсиями в двух группах при alpha = 5%. Дайте краткие рекомендации команде.
Результаты: 

1) Число юзеров в группах, которые заходили на сайт в период эксперимента: n1 = 15550 и n2 = 15550. 

2) Число юзеров в группах, которые совершили хотя бы одну покупку за период эксперимента: n1 = 164 и n2 = 228 

3) Конверсии: conv1 = 1.05% conv2 = 1.47%.

In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tabulate
from tabulate import tabulate

import scipy 
from scipy import stats
from scipy.stats import shapiro

import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

import statsmodels as sm
from statsmodels.stats.power import TTestIndPower

In [138]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/abc/

df = pd.read_excel('HW5.xlsx')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/ГикБреинс

In [139]:
df

,Criteria,Meaning,Value,group
0,NV1,Number of users who visited the site during th...,15550.0000,1.0
1,NV1,Number of users who visited the site during th...,15550.0000,2.0
2,NP,Number of users who made at least one purchase...,164.0000,1.0
3,NP,Number of users who made at least one purchase...,228.0000,2.0
4,conv,Conversion,0.0105,1.0
5,conv,Conversion,0.0147,2.0

In [140]:
control = df.query('group == "control"')

test = df.query('group == "variant"')

In [141]:
alpha = 0.05

st = stats.shapiro(df.Value)
print('Распределение {}нормально\n'.format( {True: 'не ',
False: ''}[st[1] < alpha]));

Распределение не нормально

In [142]:
stat, p = scipy.stats.mannwhitneyu(df.Value, df.group)

print('Statistics=%.5f, p-value=%.5f' % (stat, p))

if p > alpha:
    print('имеются статистически значимые различия между выборками')
else:
    print('статистически значимых различий между выборками не имеется')

Statistics=24.00000, p-value=0.37084
имеются статистически значимые различия между выборками

2)	Сравниваем метрику конверсия в покупку. Размер выборки - 10000 элементов в каждой группе. Какой статистический критерий тут лучше всего подойдёт и почему?

In [143]:
drive.mount('/content/drive')

%cd /content/drive/MyDrive/ГикБреинс/

df2 = pd.read_excel('HW5_2.xlsx')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/ГикБреинс

In [144]:
df2

,Criteria,Meaning,Value,group
0,NV2,Number of users who visited the site during th...,10000.0000,1.0
1,NV2,Number of users who visited the site during th...,10000.0000,2.0
2,NP,Number of users who made at least one purchase...,164.0000,1.0
3,NP,Number of users who made at least one purchase...,228.0000,2.0
4,conv,Conversion,0.0105,1.0
5,conv,Conversion,0.0147,2.0

In [145]:
control2 = df2.query('group == "control"')

test2 = df2.query('group == "variant"')

In [146]:
alpha = 0.05

st2 = stats.shapiro(df2.Value)
print('Распределение {}нормально\n'.format( {True: 'не ',
False: ''}[st2[1] < alpha]));

Распределение не нормально

Тут лучше всего подойдёт статистический критерий Манна - Уитни, т.к данные в A/B-тесте не из нормального распределения и T-test использовать нельзя.

In [147]:
stat, p2 = scipy.stats.mannwhitneyu(df2.Value, df2.group)

print('Statistics=%.5f, p-value=%.5f' % (stat, p2))

if p2 > alpha:
    print('имеются статистически значимые различия между выборками')
else:
    print('статистически значимых различий между выборками не имеется')

Statistics=24.00000, p-value=0.37084
имеются статистически значимые различия между выборками

Вывод: Имеется статистически значимая разница между группами. Я предлагаю принять изменения, которые тестировались в группе B.